.balloon {
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 3px #555;
  border-radius: 10px;
  box-sizing: border-box;

  /*影をつけて見栄えを良くします*/
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3), inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);

  display: none;
  opacity: 0;
  position: absolute;

  /* transform: translateX(-40%);
  transform: translateY(100px); */
  /* z-index: 3; */

  /*アニメーションを指定します*/
  /* transition: 1s all linear; */
}

.totalGPA th:hover > div.balloon,
.attendTable th:hover > div.balloon {
  /*マウスホバー時のバルーンのスタイルです*/

  /*表示するようにします*/
  /* position: absolute; */
  display: block;
  opacity: 1;
  top: -90px;
  left: -50px;
  /* transform: translateY(-80px); */
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #fff;
  z-index: 5;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 4;
}

.balloon p {
  margin: 0;
  padding: 0;
}

.attendTable th:hover {
  background-color: antiquewhite;
}
