.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;

  border-top: 2px solid var(--border-color);
}

.footer p {
  margin: 0;
  padding: 0;
}
