section.navigation {
  display: inline-block;
  position: relative;

  margin: 0px;
  padding: 0;
  width: 100%;
  height: 40px;

  /* border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color); */

  overflow-y: hidden;
}

@media screen and (max-width: 810px) {
  section.navigation {
    overflow-x: scroll;
    white-space: nowrap;
    height: 60px;
  }
}

.navigation .wrapper {
  position: relative;
  display: inline;
  text-align: center;

  margin: 0px;
  padding: 0;
}

.navigation ul {
  margin: 0px;
  padding: 0px;
}

.navigation .wrapper li {
  display: inline-block;
  position: relative;
  margin: 5px 0px;
  padding: 0;
}

.navigation a {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-radius: 20px;
}

.naviButton {
  font-size: 1rem;
  display: block;
  padding: 0 10px;
  background-color: var(--button-bg-color);
  margin: 0;

  /* transition: font-size 0.5s; */
  transition: padding 0.5s;
}

.naviButton:hover,
.naviButton:focus {
  background-color: var(--button-hover-bg);
  /* border: 2px solid var(--border-color); */
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  padding: 0 30px;
}

/********** アニメーション **************/
.naviAnime1 {
  display: block;
  animation: naviAni 0.5s ease-out;
}

.naviAnime2 {
  display: block;
  animation: naviAni 0.5s 0.1s ease-out;
}

.naviAnime3 {
  display: block;
  animation: naviAni 0.5s 0.2s ease-out;
}

.naviAnime4 {
  display: block;
  animation: naviAni 0.5s 0.3s ease-out;
}

.naviAnime5 {
  display: block;
  animation: naviAni 0.5s 0.4s ease-out;
}

.naviAnime6 {
  display: block;
  animation: naviAni 0.5s 0.5s ease-out;
}

.naviAnime7 {
  display: block;
  animation: naviAni 0.5s 0.6s ease-out;
}

@keyframes naviAni {
  0% {
    transform: translateY(-70px);
  }
  20% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
