.evaluateError {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10rem;
  margin-top: 10%;
}

.forthSection .evaluateTitle h1 {
  margin-left: 20px;
}

.forthSection .evaluateTable th,
.forthSection .evaluateTable td {
  border: solid 1px black;
  text-align: center;
  width: 40px;
  padding-left: 4px;
  padding-right: 4px;
}

.forthSection .evaluateTable th {
  font-weight: bold;
  border-bottom: double 3px black;
  background-color: var(--button-bg-color);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.forthSection .evaluateTable table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 10%;
}

.forthSection .evaluateTable th:nth-child(3),
.forthSection .evaluateTable td:nth-child(3) {
  min-width: 100px;
  text-align: left;
  text-wrap: nowrap;
}

.forthSection .evaluateTable th:nth-child(4),
.forthSection .evaluateTable td:nth-child(4) {
  border-right: solid 2px black;
  border-left: solid 2px black;
}
